/JSexercises/exercise4/ajax1/ajax1/target/
/JSexercises/exercise4/ajaxanddom/target/
/JSexercises/exercise4/AjaxServletEndpoint/target/
/JSexercises/exercise4/AjaxWithServletEndpointSSS/target/
/JSexercises/exercise4/EventHandling/target/